body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.info-box {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ffa500; 
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.info-box:hover {
    border-color: #ff8200; 
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8); 
}

.review-box {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ffa500; 
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.review-box:hover {
    border-color: #ff8200; 
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8); 
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffa500;
}

img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.2);
}

.rating {
    font-size: 48px;
    color: #ffa500;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.episode-info,
.date-info,
.status-info,
.genre-info,
.opening-info,
.ending-info {
    color: #00ff00;
    font-weight: bold;
}

.title {
    font-size: 24px;
    color: #ffa500;
    margin-bottom: 10px;
}

a {
    color: #ffa500;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}
