body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.info-box {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 4px solid #8a2be2; /* Violet */
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.5); /* Violet */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
    border-color: #9400d3; /* Darker Violet */
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.8); /* Darker Violet */
}

h2 {
    font-size: 70px;
    margin-bottom: 1px; /* Réduit l'espacement après le titre */
    color: #8a2be2; /* Violet */
    font-family: cursive;
 /* Met le titre en majuscules */
}

img {
    width: 260px;
    height: auto;
    margin-bottom: 10px; /* Réduit l'espacement entre la note et l'image */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.2);
}

.rating {
    font-size: 60px;
    color: #8a2be2; /* Violet */
    margin-bottom: 20px; /* Réduit l'espacement après la note */
    font-family: 'Pacifico', cursive;
}
.descro {
    font-size: 30px;
    color: #8a2be2; /* Violet */
    margin-bottom: 20px; /* Réduit l'espacement après la note */
    font-family: 'Pacifico', cursive;

}
p {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px; /* Réduit l'espacement entre les paragraphes */
}

.artist-info,
.genre-info,
.language-info,
.release-date,
.duration,
.descro{
    color: #4322b9;
    font-weight: bold;
    margin-bottom: 5px; /* Réduit l'espacement après chaque information */
}

.title {
    font-size: 28px;
    color: #8a2be2; /* Violet */
    margin-bottom: 20px; /* Ajout d'espace sous le titre */
}

a {
    color: #4322b9; /* Violet */
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}
